#homepage {
	background-image: url("../assets/enjoy.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-color: white;
}

#bio {
	background-color: lightgrey;
	background-image: url("../assets/night.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-color: white;
}

#exp {
	background-color: lightblue;
}

#proj {
	background-color: lightgrey;
}

#resume {
	background-color: lightblue;
	background-image: url("../assets/penpaper.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lightblue;
}

#contact {
	opacity: 20%;
	color: lavender;
	height: 8%;
	background-color: black;
}

#linkedin {
	margin: 20px 20px 20px 20px;
}

h1 {
	margin: 10px 20px 15px 20px;
}

#logo {
	display: inline-block;
}