#homepage {
	background-image: url("../assets/enjoy.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-color: white;
}

#bio {
	background-color: lightgrey;
}

#exp {
	background-color: lightblue;
}

#proj {
	background-color: lightgrey;
}

#resume {
	background-color: lightblue;
	background-image: url("../assets/penpaper.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lightblue;
}

#contact {
	padding: 3% 0px 3% 0px;
	opacity: 20%;
	color: lightblue;
	height: calc(100% - attr(h1.height) - attr(linkedin.height))

}


#linkedin {
	margin: 20px 20px 20px 20px;
}