#homepage {
	background-image: url("../assets/enjoy.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-color: white;
}

#bio {
	background-color: lightgrey;
	background-image: url("../assets/night.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lightcyan;
}

#exp {
	background-color: lightblue;
}

#skills {
	background-color: lightgrey;
}

#resume {
	background-color: lightblue;
	background-image: url("../assets/penpaper.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lightblue;
}

#contact {
	opacity: 20%;
	color: lavender;
	height: 8%;
	background-color: black;
}

h1 {
	margin: 10px 20px 15px 20px;
}

.logo {
	display: inline-block;
}

.autobio {
	display: inline-block;
}

#autobiotxt {
	width: 50%;
	padding-left: 4%;
}

#profileimg {
	border-radius: 50px;
	margin: 100px 0 0 0;
}

h2 {
 font-size: 40pt;
}

h3 {
 font-size: 15pt
}

#sectionTitle {
	width: 100%;
	color: lightcyan;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
}


.row1xp {
 	width: 47%;
 	display: inline-block;
 	height: 50px;
 	margin: 0;
 	border-radius: 15px;
 	text-align: center;
 	padding-top: 10px;
 	color: white;
 	font-family: Futura,"Trebuchet MS",Arial,sans-serif

}
#exp1 {
	background-color: red;
	margin-right: 5%; 
}
#exp2 {
	background-color: green;
}

.xpinfo {
	margin: 0;
}

div#exp1:hover {
	background-color: grey;
}

div#exp2:hover {
	background-color: grey;
}

.skillLevel {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: lightcyan;
	width: 100%;

}

.skill {
	width: 100px;
	height: 60px;
	color: white;
	border-radius: 50px;
	text-align: center;
	font-family: Geneva,Tahoma,Verdana,sans-serif;
	display: inline-block;
	word-wrap: break-word;
	padding: 0;
	padding-top: 40px;
}


#adv {
	background-color: red;
}

div#adv:hover {
	background-color: white;
	color: red;
	border-style: solid;
}

#prof {
	background-color: blue;
}

div#prof:hover {
	background-color: white;
	color: blue;
	border-style: solid;
}

#beg {
	background-color: green;
}

div#beg:hover {
	background-color: white;
	color: green;
	border-style: solid;
}

#advt {
	color: red;
}

#proft {
	color: blue;
}

#begt {
	color: green;
}

