@font-face {
    font-family: woodys;
    src: url(../fonts/woodys.woff);
}

@font-face {
    font-family: Chlorinar;
    src: url('../fonts/chlorinr.ttf');
}

@font-face {
    font-family: Alanis Hand;
    src: url('../fonts/alanishand.ttf');
}

@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7.ttf);
}

@font-face {
    font-family: Junegull;
    src: url(../fonts/junegull_rg.ttf);
}

@font-face {
    font-family: ShoCard Caps NF;
    src: url(../fonts/sho-cardcapsnf.ttf);
}

@font-face {
    font-family: Ashcan BB;
    src: url(../fonts/ashcanbb_bold.ttf);
}

@font-face {
    font-family: Daniel;
    src: url(../fonts/daniel-regular.otf);
}

@font-face {
    font-family: Davys Crappy Writ;
    src: url(../fonts/davyscrappywrit.ttf);
}

@font-face {
    font-family: Peterbuilt;
    src: url(../fonts/peterbuilt.ttf);
}

@font-face {
    font-family: Ananda Hastakchyar;
    src: url('../fonts/ananda_hastakchyar.ttf');
}

body {margin:0;}

.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 10px grey;
}

ul.navigationBar li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    height: 22px;
}

li a:hover:not(.active) {
    background-color: blueviolet;
    color:white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.content {
	padding: 20px;
	/*margin-top: 30px;*/
	height: auto;
    margin: 0;
}

img {
    margin: 0;
}

/* Hide the list item that contains the link that should open and close the navigationBar on small screens */
ul.navigationBar li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.navigationBar li:not(:first-child) {display: none;}
  ul.navigationBar li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the navigationBar with JavaScript when the user clicks on the icon. This class makes the navigationBar look good on small screens */
@media screen and (max-width:680px) {
  ul.navigationBar.responsive {position: relative;}
  ul.navigationBar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navigationBar.responsive li {
    float: none;
    display: inline;
  }
  ul.navigationBar.responsive li a {
    display: block;
    text-align: left;
  }
}